				
		body {
		  background-color: #ffffff;
		  color: #000000;
		  font-family: Arial,sans-serif,Helvetica;
		  margin-left: 5%;
		  margin-right: 5%;
		  margin-top: 2%;
		  word-wrap: break-word;
		}

		h3 {
		  font-size: 1.5em;
		  color: #000000;
		  padding-bottom: .3em;
		  border-bottom: 1px solid #eaecef;  
		}

	  	a {
		  color: #0366d6;
		  text-decoration:none;		  
		}

		a:hover {
		  text-decoration:underline;
		}	

	
