body {
	background-color: #ffffff;
	color: #000000;
	font-family: Arial,sans-serif,Helvetica;
	margin-left: 5%;
	margin-right: 5%;
	margin-top: 2%;
	word-wrap: break-word;
}

h3 {
	padding-bottom: .3em;
	border-bottom: 1px solid #e0e0e0;	
}

a {	
	color: #0050f0;
	text-decoration:none;		  
}

a:hover {
	text-decoration: underline;
}	
