body {
    padding: 3em;
    font-family: Sans-serif, Arial, Verdana;
    font-size: 1.1em;
    background-color: #000000;
    color: #eeeeee;
    max-width: 70%;
    margin: auto;
    text-align: center;
}

input {
    border: 1px solid #4444ff;
    background-color: #222222;
    color: #eeeeee;
    padding: 0.4em;
    font-size: 1.2em;
}

h1 {color: #cccccc;}

button {
    background-color: #111111;
    width: 6.5em;
    padding: 0.6em;
    border: 1px solid #4444ff;
    color: #EEEEEE;
    text-decoration: none;
    text-align: center;
}

button:hover {
	background-color: #333333;
}

a {
    background: #ffffff;
    color: #000055;
    text-decoration: none;
    margin: 0.3em;
    display: inline-block;
    background: #666666;
    color: #ffffff;
    border: 1px solid white;
    padding: 0.3em;
}

a:hover {background:#555555;}

table, th, td {
    text-align: center;
    padding: 0.5em;
    border: none;
    margin: auto;
}

div {
    display: inline-block; 
    height: 5em;
    width: 45em;
}


